body{
    font-family:"Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

h1{
    margin:0 auto;
    margin-top:30px;
    margin-bottom: 20px;
    border-left:4px red solid;
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 500px;
    font-size: 20px;
}

form{
    margin:0 auto;
    border:3px solid lightgray;
    background-color: rgb(244, 243, 243);
    padding: 10px;
    width: 500px;
    border-radius: 5px;
}

.text, textarea, select{
    border:1px solid gray;
    padding: 5px;
    margin-bottom: 20px;
    color: black;
    background-color: white;
}
.submit{
    border: 1px solid lightgray;
    border-bottom: 2px solid gray;
    background-color: rgb(168, 165, 165);
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;

}